services:
  webtop:
    build: https://github.com/procrastinando/antigravity-sandboxed-docker.git.
    container_name: webtop
    privileged: true
    security_opt:
      - seccomp=unconfined
    environment:
      - PUID=1000
      - PGID=13
      - TZ=Europe/Berlin
      - SUBFOLDER=/
      - TITLE=Antigravity-AI
      - START_DOCKER=false 
      # -----------------------
      - DRINODE=/dev/dri/renderD128
      - DEVICE=/dev/dri/renderD128
      - LIBVA_DRIVER_NAME=iHD
    volumes:
      - /home/carlos/antigravity/:/config
      - /var/run/docker.sock:/var/run/docker.sock
    devices:
      - /dev/dri:/dev/dri
      # - /dev/accel:/dev/accel  <-- Keep commented if you don't have this yet
    ports:
      # - 3000:3000
      - 3001:3001
    shm_size: "24gb"
    restart: unless-stopped